body{
    width: 50%;
    font-family: arial;
    margin: 5px auto;
    padding: 20px;
    color: black ; 
    background: rgb(201, 219, 228);
 }
div{
    background: url(../img/bg1.jpg);
    width: 800px;

}
table{
    border-collapse : collapse;
    margin : 50px;
    padding : 5px;
    font-size : 0.9em;
    font-family : sans-serif;
    box-shadow : 0 0 20px rgba(0,0,0,0.15);
    background : #ffffff;
}
td,th{
    padding : 10px;
    text-align : center;
}
thead{
    padding : 30px;
}
tbody tr{
    border-bottom : 1px solid #dddddd;
}
thead tr, tfoot tr{
    background-color : black;
    color : #ffffff;
    text-align : center;
}
tbody tr.active-row{
    font-weight : bold;
    color : #009879;
}
tbody tr:nth-of-type(even) {
    background-color : #f3f3f3;
}
input[type="submit"]{
    background-color : aliceblue;
    border : none;
    border-radius : 3px;
    color : black;
    padding : 6px;
    text-align : center;
    font-weight : bold;
    margin : 5px;
}